.app {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter h1 {
    /* Ensures the text is hidden until animated */
    overflow: hidden;
    /* The blinking cursor */
    border-right: .15em solid orange;
    /* Keeps the text on a single line */
    white-space: nowrap;
    /* Centers the text */
    margin: 0 auto;
    letter-spacing: .05em;
    animation:
        /* Typing animation */
        typing 3.5s steps(30, end) infinite,
        /* Blinking cursor animation */
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }

    /* Cursor visible at 50% */
}